<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}
                    {{ header.title|e('html') }}
                    |
                {% endif %}
                {{ site.title|e('html') }}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% include 'partials/metadata.html.twig' %}

            <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}"/>
            <link rel="canonical" href="{{ page.url(true, true) }}"/>
        {% endblock head%}

        {% block stylesheets %}
            {% do assets.addCss('theme://css/styles.css', 98) %}
        {% endblock %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
        {% endblock %}
    </head>

    <body id="top" class="{{ page.header.body_classes }}">

        {% block header %}
            <header></header>

        {% endblock %}

        {% block body %}
            <main>
                {{content}}
            </main>
        {% endblock %}

        {% block footer %}
            <footer></footer>
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}

    </body>
</html>
