<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>
        {% if header.title %}
        {{ header.title|e('html') }}
        |
        {% endif %}
        {{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% endblock head%}

    {% block stylesheets %}
    {% do assets.addCss('theme://css/styles.css', 98) %}
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {% endblock %}
</head>

<body id="top" class="{{ page.header.body_classes }} wrapper">

    {% block header %}
    <header>
        <a href="">
            <img src="" alt="Logo Context design">
            <h1>Context</h1>
        </a>

        <div>
            <h1>Design graphique studio</h1>
            <nav>
                <a href="">tout</a>
                <a href="">identités</a>
                <a href="">print</a>
                <a href="">web</a>
                <a href="">image</a>
            </nav>
        </div>
    </header>
    {% endblock %}

    {% block body %}
    <main>
        {{content}}
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <h2>Context</h2>
        <address>
            31 rue de l’Aiguillerie<br />
            34000 Montpellier
        </address>
        <a href="mailto:contact@contextdesign.fr">contact@contextdesign.fr</a>
        <a href="tel:06 87 85 28 01">06 87 85 28 01</a>
        <a href="https://www.facebook.com/contextdesign">Facebook</a>

        <p>© {{ "now"|date("Y") }} Context</p>
    </footer>
    {% endblock %}

    {% block bottom %}
    {{ assets.js('bottom')|raw }}
    {% endblock %}

</body>

</html>