{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="projet">
        <div class="projet--images">
            <ul>
                {% for image in page.media.images %}
                    <li {% if image.meta.orientation %}
                        class="image-{{ image.meta.orientation }}"
                            {% endif %}>
                        {{ image }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="projet--text">
            <div>
                <div class="projet--title">
                    <h1>{{ page.title }}</h1>
                    <h2>{{ header.subtitle }}</h2>
                    {{ header.year }}
                </div>

                <div class="projet--infos">
                    <div>
                        {{ page.content }}
                    </div>
                    <div>
                        {{ header.infos|markdown }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
