{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="projet">
        <div>
            <ul>
                {% for image in page.media.images %}
                    <li>
                        {{ image }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="projet__title">
            <h1>{{ page.title }}</h1>
            <h2>{{ header.subtitle }}</h2>
            {{ header.year }}
        </div>

        <div class="projet__infos">
            <div>
                {{ page.content }}
            </div>
            <div>
                {{ header.infos|markdown }}
            </div>
        </div>
    </div>
{% endblock %}
